{%extends 'base.html'%}
{%load humanize%}
{%block title%}
| Search
{%endblock%}
{%block content%}
<!-- Banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Search Results</h1>
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li class="active">Search</li>
            </ul>
        </div>
    </div>
</div>
<!-- Banner end -->

<!-- Search box 3 start -->
<div class="search-box-3 sb-7 bg-active">
    <div class="container">
        <div class="search-area-inner">
            <div class="search-contents">
                <form method="GET">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="model">
                                    <option disabled="disabled" selected="selected">Select Model</option>
                                    {%for model in model_search%}
                                    <option value="{{model}}">{{model}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="city">
                                    <option disabled="disabled" selected="selected">Select Location</option>
                                    {%for city in city_search%}
                                    <option value="{{city}}">{{city}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="year">
                                    <option disabled="disabled" selected="selected">Select Year</option>
                                    {%for year in year_search%}
                                    <option value="{{year}}">{{year}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="body_style">
                                    <option disabled="disabled" selected="selected">Select Type Of Car</option>
                                    {%for body_style in body_style_search%}
                                    <option value="{{body_style}}">{{body_style}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="transmission">
                                    <option disabled="disabled" selected="selected">Transmission</option>
                                    {%for transmission in transmission_search%}
                                    <option value="{{transmission}}">{{transmission}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <div class="range-slider">
                                    <div data-min="0" data-max="150000" data-unit="USD" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <button class="btn btn-block button-theme btn-md">
                                    <i class="fa fa-search"></i>Find
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Search box 3 end -->

<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Here's your <span>Cars</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="row">
            {%for car in cars%}
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="car-thumbnail">
                        <a href="{%url 'car_detail' car.id%}" class="car-img">
                            <div class="tag">For Sale</div>
                            <img class="d-block w-100" src="{{car.car_photo.url}}" alt="car" style="min-height: 262px; max-height: 262px;">
                            <div class="facilities-list clearfix">
                                <ul>
                                    <li>
                                        <span><i class="flaticon-way"></i></span>{{car.miledge|intcomma}} km
                                    </li>
                                    <li>
                                        <span><i class="flaticon-calendar-1"></i></span>{{car.year}}
                                    </li>
                                    <li>
                                        <span><i class="flaticon-manual-transmission"></i></span>{{car.transmission}}
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <a class="overlap-btn" data-toggle="modal" data-target="#{{car.id}}">
                                        <i class="fa fa-eye-slash"></i>
                                    </a>
                                    <div class="car-magnify-gallery">
                                        <a href="{{car.car_photo.url}}" class="overlap-btn" data-sub-html="<h4>Lamborghini Huracán</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="{{car.car_photo.url}}" alt="hidden-img">
                                        </a>
                                        {%if car.car_photo_1%}
                                        <a href="{{car.car_photo_1.url}}" class="hidden" data-sub-html="<h4>Lexus GS Red Car</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                            <img class="hidden" src="{{car.car_photo_1.url}}" alt="hidden-img">
                                        </a>
                                        {%endif%}
                                        {%if car.car_photo_2%}
                                        <a href="{{car.car_photo_2.url}}" class="hidden" data-sub-html="<h4>2015 Porsche Cayenne</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                            <img class="hidden" src="{{car.car_photo_2.url}}" alt="hidden-img">
                                        </a>
                                        {%endif%}
                                        {%if car.car_photo_3%}
                                        <a href="{{car.car_photo_3.url}}" class="hidden" data-sub-html="<h4>Toyota Corolla</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                            <img class="hidden" src="{{car.car_photo_3.url}}" alt="hidden-img">
                                        </a>
                                        {%endif%}
                                        {%if car.car_photo_4%}
                                        <a href="{{car.car_photo_4.url}}" class="hidden" data-sub-html="<h4>Toyota Prius Specs</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                            <img class="hidden" src="{{car.car_photo_4.url}}" alt="hidden-img">
                                        </a>
                                        {%endif%}
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="{%url 'car_detail' car.id%}">{{car.car_title}}</a>
                        </h1>
                        <div class="location">
                            <a href="{%url 'car_detail' car.id%}">
                                <i class="flaticon-pin"></i>{{car.state}}, {{car.city}}
                            </a>
                        </div>
                    </div>
                    <div class="footer clearfix">
                        <div class="pull-left ratings days">
                            <p class="cartype">{{car.body_style}}</p>
                        </div>
                        <div class="pull-right">
                            <p class="price">${{car.price|intcomma}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>
<!-- Featured car end -->
<!-- Car Overview Modal -->
<div class="car-model-2">
    {%for car in cars%}
    <div class="modal fade" id="{{car.id}}" tabindex="-1" role="dialog" aria-labelledby="{{car.id}}Label" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title" id="{{car.id}}Label">
                        <h4>Explore Your Dream Car</h4>
                        <h5><i class="flaticon-pin"></i> {{car.state}}, {{car.city}}</h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row modal-raw">
                        <div class="col-lg-6 modal-left">
                            <div class="item active">
                                <img src="{{car.car_photo.url}}" alt="best-car" class="img-fluid modalLabel-1">
                                <!-- <img src="img/car-14.jpg" alt="best-car" class="img-fluid modalLabel-2"> -->
                                <div class="sobuz">
                                    <div class="price-box" style="padding-bottom: 5px;">
                                        <span class="del-2">${{car.price|intcomma}}</span>
                                    </div>
                                    <div class="ratings-2">
                                       <a href="{%url 'car_detail' car.id%}" class="btn btn-md btn-round btn-theme">{{car.body_style}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 modal-right">
                            <div class="modal-right-content">
                                <section>
                                    <h3>Features</h3>
                                    <div class="features">
                                        <ul class="bullets">
                                            {%for i in car.features%}
                                            <li>{{i}}</li>
                                            {%endfor%}
                                        </ul>
                                    </div>
                                </section>
                                <section>
                                    <h3>Overview</h3>
                                    <ul class="bullets">
                                        <li>Model</li>
                                        <li>Year</li>
                                        <li>Condition</li>
                                        <li>Price</li>
                                        <li>{{car.model}}</li>
                                        <li>{{car.year}}</li>
                                        <li>{{car.condition}}</li>
                                        <li>${{car.price|intcomma}}</li>
                                    </ul>
                                </section>
                                <div class="description">
                                    <h3>Description</h3>
                                    {{car.description|safe}}
                                    <a href="{%url 'car_detail' car.id%}" class="btn btn-md btn-round btn-theme">Show Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
</div>
{%endblock%}